:root {
    --primary-color: #757575;

    --hero-color: #ffffff;

    --second-color: #212121;

    --active-color : #2196F3;

    --section-color: #F5F4FA;

    --footer-color: #2F303A;

    --footer-adress-color: rgba(255, 255, 255, 0.6);

}

body{
    font-family: 'Roboto';
    color: var(--primary-color);
    background-color: #ffffff;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.active {
    color: var(--active-color);
}

h1, h2, h3, h4,h5, h6 {
    color: var(--second-color);
}

.list{
    list-style: none;
}

.button {
    color: var(--hero-color);
    background-color: var(--active-color);
}

/* NAV */

.logo{
    color: var(--second-color);
    text-decoration: none;
    font-family: 'Raleway';
}

.site-nav .link {
    color: var(--second-color);
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--active-color);
}

.site-nav .active {
    color: var(--active-color);
}

.adress .link {
    color: var(--primary-color);
    text-decoration: none;
}

.adress .link:hover,
.adress .link:focus {
    color: var(--active-color);
}


.section-title{
    font-size: 36px;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    background-color: var(--primary-color);
}

/* about us */

.about-us .title {
    font-size: 14px;
}

.about-us .text{
    font-size: 14px;
    line-height: 1.7;
}


/* work */


.work .text {
    color: var(--hero-color);
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;

}

/* team */

.team .title {
    font-weight: 500;
    font-size: 16px;
}

/* portfolio  */

.portfolio .selection-text{
    color: var(--second-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.selection-text.active {
    color: var(--active-color);
}


/* footer */
.footer {
    background-color: var(--footer-color);
    color: var(--hero-color);
}

.footer .logo {
    color: var(--hero-color);
}

.footer .text {
    font-size: 14px;
    height: 1.7;
}

.footer .link {
    text-decoration: none;
    color: var(--footer-adress-color);
    font-size: 14px;
    height: 1.7;
}

.footer .title {
    font-size: 14px;
    text-transform: uppercase;
}

